body 
    background-color: $primary
    color: $accent
    div
        background-color: $primary
    article 
        background-color: $primary
        border: 2px solid $accent
        +border-radius(10px)